.side-nav {
    background: #333333;
    height: 95vh;
    width: 5vw;
    justify-content: center;
    display: flex;
}

.side-nav nav {
    display: flex;
    flex-direction: column;
}

.side-nav nav a {
    padding-top: 5vh;
}

.fa-folder-plus, .fa-search-plus {
    color: #ABABAB;
    font-size: 2.25vw;
    cursor: pointer;
}

.fa-folder-minus, .fa-search-minus {
    font-size: 2.25vw;
    cursor: pointer;
    color: #FFFFFF
}

