.header {
    background: #3C3C3C;
    height: 5vh;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header nav a {
    padding-right: 20px;
    color: #B1B1B1;
}

.fa-compact-disc {
    color: #007ACC;
    padding: 1.4vw;
    font-size: 2vw;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}